<a href="https://colab.research.google.com/github/subhrapattnaik/class-99-v2/blob/main/PRO_C99_Reference_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Teacher Activity

In [ ]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *

### **FOR LOOPS IN PYTHON**


**Syntax 1** : 
```
for repetition_var in sequence:
    statement 1
    statement 2
    .....
    .....
    .....
    statement 10
```
**Syntax 2** :



```
for repetition_var in range(start_val, end_val,steps):
    statement 1
    statement 2
    .....
    .....
    .....
    statement 10
```

## Keywords: 

  >**for** : the "for" keyoword is used to mark the begining of the for loop

  >**in** : 

## Variables:

  >**repetition_var** :


  >**sequence** :

### **NESTED FOR LOOPS IN PYTHON**

**Syntax 1** : 
```
for repetition_var_1 in sequence:
  for repetition_var_2 in sequence:
    statement 1
    statement 2
    .....
    .....
    .....
    statement 10
```
**Syntax 2** :



```
for repetition_var_1 in range(start_val, end_val,steps):
  for repetition_var_2 in range(start_val, end_val,steps):
    statement 1
    statement 2
    .....
    .....
    .....
    statement 10
```

In [ ]:
num = int(input("Enter the number of rows: "))

Enter the number of rows: 7

In [ ]:
for i in range(0, num):   
        for j in range(0, i + 1):              
            print("*", end=" ")
        print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
for i in range(0, num):   
        for j in range(0, i + 1):              
            print(j, end=" ")
        print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [ ]:
for i in range(1, num+1):   
        for j in range(1, i + 1):              
            print(j, end=" ")
        print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Student Activity

In [ ]:
for i in range(0, num):   
        for j in range(num, i, -1):              
            print("*", end=" ")
        print()

* * * * *
* * * *
* * *
* *
*

## Aditional Activity

In [ ]:
for i in range(num, 0, -1):   
        for j in range(1, i+1):              
            print(j, end=" ")
        print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1